.listview-message-if-empty .listview-message-if-empty__widget .mx-listview-empty {
  display: none;
}

.listview-message-if-empty-preview {
  border: dashed 1px #ced0d3;
  border-radius: 4px;
  margin-bottom: 24px;
  padding: 8px;
}